services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./backend/token.pickle:/app/token.pickle
      - ./backend/credentials.json:/app/credentials.json
    
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend